# Salin file ini jadi ".env" lalu sesuaikan isinya.
# Ganti PASSWORD_POSTGRES dengan password user postgres di komputermu.
DATABASE_URL=postgres://postgres:PASSWORD_POSTGRES@localhost:5432/lamaran_kerja?sslmode=disable
PORT=8080
